{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class ="article">

<div class="header">
    <img src="{% static 'img/dpb-logo.png' %}" />
    <h2><a class="all-articles-link" href="{% url 'archive' %}">Все статьи</a></h2>
    <a class="register-link" href="{% url 'register' %}">Регистрация</a>
</div>

<div class="article">
    <h1>{{ post.title }}</h1>

    <div class="article-info">
        <div class="article-author">
            Автор: {{ post.author.username }}
        </div>
        <div class="article-created-date">
            Дата: {{ post.created_date }}
        </div>
    </div>

    <p class="article-text">
        {{ post.text }}
    </p>
</div>

</body>
</html>